### Controlled by CFEngine3
#   template file: {{{vars.scl.template_file}}}
#   files: {{{vars.scl.json_files}}}
#
search {{#vars.scl.resolv.search}}{{{domain}}} {{/vars.scl.resolv.search}}
{{#vars.scl.resolv.nameservers}}
nameserver {{{ip}}}
{{/vars.scl.resolv.nameservers}}

options {{#vars.scl.resolv.options}}{{{.}}} {{/vars.scl.resolv.options}}
