### Controlled by CFengine3, template file @SURF
#

search {{#vars.scl.resolv.search}}{{{domain}}} {{/vars.scl.resolv.search}}
{{#vars.scl.resolv.nameservers}}
nameserver {{{ip}}}
{{/vars.scl.resolv.nameservers}}

{{#vars.scl.resolv.options}}
options {{{.}}} 
{{/vars.scl.resolv.options}}
