## This file is maintained by CFengine
#
# all spank configuration must be done in one file for configless and makes more sense
{{#vars.scl.slurm.spank_plugins.required}}
required {{{@}}} {{{.}}}
{{/vars.scl.slurm.spank_config.required}}
{{#vars.scl.slurm.spank_plugins.optional}}
optional {{{@}}} {{{.}}}
{{/vars.scl.slurm.spank_config.optional}}
