[Unit]
Description=Slurm node daemon
After=munge.service network.target remote-fs.target
{{^classes.SLURM_CONFIGLESS}}
ConditionPathExists={{{vars.slurm.config_dir}}}/slurm.conf
{{/classes.SLURM_CONFIGLESS}}
Documentation=man:slurmd(8)

[Service]
EnvironmentFile=-{{{vars.scl.slurm.slurmd_service.environment_file}}}
Type={{{vars.scl.slurm.slurmd_service.type}}}
{{#classes.SLURM_CONFIGLESS}}
ExecStartPre=-/bin/rm /run/slurm/conf/slurm.conf
{{/classes.SLURM_CONFIGLESS}}
ExecStart={{{vars.slurm.software_dir}}}/current/sbin/slurmd {{{vars.scl.slurm.slurmd_service.options}}}
ExecReload=/bin/kill -HUP $MAINPID
PIDFile={{{vars.scl.slurm.slurmd_service.pid_file}}}
KillMode=process
LimitNOFILE=131072
LimitMEMLOCK=infinity
LimitSTACK=infinity
Delegate=yes
TasksMax=infinity

[Install]
WantedBy=multi-user.target
