#
# Example slurmdbd.conf file.
#
# See the slurmdbd.conf man page for more information.
#
# Archive info
#ArchiveJobs=yes
#ArchiveDir="/tmp"
#ArchiveSteps=yes
#ArchiveScript=
#JobPurge=12
#StepPurge=1
#
# Authentication info
AuthType={{{vars.scl.slurm.AuthType}}}
{{#vars.scl.slurm.AuthAlt}}
{{{@}}}={{{.}}}
{{/vars.scl.slurm.AuthAlt}}

#AuthInfo=/var/run/munge/munge.socket.2
#
# slurmDBD info
DbdAddr=localhost
DbdHost=localhost
DbdPort=6819
SlurmUser={{{vars.slurm.user}}}
#MessageTimeout=300
DebugLevel=4
#DefaultQOS=normal,standby

LogFile={{{vars.slurm.log_dir}}}/slurmdbd.log
PidFile={{{vars.scl.slurm.pid_dir}}}/slurmdbd.pid
PluginDir={{{vars.slurm.plugin_dir}}}

#PrivateData=accounts,users,usage,jobs
#TrackWCKey=yes
#
# Database info
StorageType=accounting_storage/mysql
#StorageHost=r16n22
#StoragePort=6819
StoragePass={{{vars.scl.slurm.StoragePass}}}
StorageUser=slurm
StorageLoc=slurm_acct_db

# Purge settings
{{#vars.scl.slurm.purge_section}}
{{{@}}}={{{.}}}
{{/vars.scl.slurm.purge_section}}
