#
## Configured by CFEngine
#
# Pass additional command-line options to the daemon.
##
# OPTIONS="--force --key-file /etc/munge/munged.key --num-threads 1"
{{{vars.scl.munge.daemon_options}}}

##
# Adjust the scheduling priority of the daemon.
##
# NICE=
