### Controlled by CFEngine3
#   template file: {{{vars.scl.template_file}}}
#   files: {{{vars.scl.json_files}}}
#
#  nvidia_gpu_prometheus systemd  @SURfsara
#
[Unit]
Description=Prometheus exporter for nvidia_gpu_prometheus
Documentation=https://github.com/mindprince/nvidia_gpu_prometheus_exporter

[Service]
Restart=always
EnvironmentFile=/etc/default/nvidia_gpu_prometheus_exporter
ExecStartPre=-/bin/mkdir -p {{{vars.scl.nvidia_gpu_prometheus_exporter.collector_dir}}}
ExecStart={{{vars.scl.nvidia_gpu_prometheus_exporter.dir}}}/nvidia_gpu_prometheus_exporter $ARGS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
