##
# file managed by CFengine.
# SURFsara
#
# /etc/ntp.conf, configuration for ntpd
#
logfile {{{vars.sara_data.ntp.logfile}}}

driftfile {{{vars.sara_data.ntp.driftfile}}}
{{^classes.SLES}}
statsdir /var/log/ntpstats/
{{/classes.SLES}}

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

{{#vars.sara_data.ntp.server}}
server {{.}}
{{/vars.sara_data.ntp.server}}

restrict default kod notrap nomodify nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery

{{#vars.sara_data.ntp.restrict}}
# {{ desc }}
restrict {{rule}} 
{{/vars.sara_data.ntp.restrict}}
