###
#
# This file is maintained by CFEngine
#
mailer-daemon: root
postmaster: root
nobody: root
hostmaster: root
usenet: root
news: root
webmaster: root
www: root
ftp: root
abuse: root
security: root
root: {{{ vars.scl.postfix.alias_root_email_address }}} 

## Optional extra aliases below this line
{{#vars.scl.postfix.file_aliases_lines}}
{{{ name }}}: {{{ value }}}
{{/vars.scl.postfix.file_aliases_lines}}

