### Controlled by CFEngine3
#   template file: {{{vars.scl.template_file}}}
#   files: {{{vars.scl.json_files}}}
#
{{#vars.scl.postfix.file_canonical_map_lines}}
{{{.}}}
{{/vars.scl.postfix.file_canonical_map_lines}}
