### Controlled by CFEngine3
#   template file: {{{vars.scl.template_file}}}
#   files: {{{vars.scl.json_files}}}
#

#type	location of .so file			open function	(mkmap func)
#====	================================	=============	============
tcp	    dict_tcp.so		dict_tcp_open
sqlite	dict_sqlite.so		dict_sqlite_open
ldap    postfix-ldap.so    dict_ldap_open
pcre    postfix-pcre.so    dict_pcre_open
