#####
# This file is maintained by CFEngine

DocumentRoot "{{{vars.scl.apache.document_root}}}"
<Directory "{{{vars.scl.apache.document_root}}}">
    Options None
    AllowOverride None
    Require all granted
</Directory>

{{^classes.APACHE_SKIP_REDIRECT}}
<VirtualHost *:80>
    RewriteEngine On
    RewriteCond %{HTTPS}  !=on
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
</VirtualHost>
{{/classes.APACHE_SKIP_REDIRECT}}
