## Override user.conf settings file by CFEngine
#
# See the systemd-system.conf man page for more information.
#
[Manager]
{{#vars.sara_data.systemd.user_conf}}
{{{@}}}={{{.}}}
{{/vars.sara_data.systemd.user_conf}}
