### Controlled by CFEngine
#
# nscd.mustache @SURF

#   logfile         /var/log/nscd.log
    threads         {{{vars.scl.nscd.threads}}}
    max-threads     {{{vars.scl.nscd.max-threads}}}

#   server-user     nobody
#   stat-user       somebody
    debug-level     {{{vars.scl.nscd.debug-level}}}
    reload-count    {{{vars.scl.nscd.reload-count}}}
    paranoia        {{{vars.scl.nscd.paranoia}}}
    restart-interval {{{vars.scl.nscd.restart-interval}}}

    enable-cache hosts {{{vars.scl.nscd.enable-cache-hosts}}}
{{#vars.scl.nscd.cache_hosts}}
    {{@}}   hosts      {{.}}
{{/vars.scl.nscd.cache_hosts}}

    enable-cache group {{{vars.scl.nscd.enable-cache-group}}}
{{#vars.scl.nscd.cache_group}}
    {{@}}   group       {{.}}
{{/vars.scl.nscd.cache_group}}

    enable-cache passwd {{{vars.scl.nscd.enable-cache-passwd}}}
{{#vars.scl.nscd.cache_passwd}}
    {{@}}   passwd      {{.}}
{{/vars.scl.nscd.cache_passwd}}
