##
# Managed by CFEngine, template is generated
#   template file: {{{vars.scl.template_file}}}
#   files: {{{vars.scl.json_files}}}
#
{{#vars.scl.ssh.cert_authorities}}
@cert-authority {{servers}} {{key}} {{comment}}
{{/vars.scl.ssh.cert_authorities}}
