##
# Managed by CFengine, template generated
#   SVN Info:
#       $URL: https://subtrac.surfsara.nl/osd/beowulf/svn/trunk/cfengine3/templates/ssh/sshd.mustache $
#       $Id: sshd.mustache 20603 2016-11-02 16:02:26Z bas $
#
##@ Must be the last section
#
{{#vars.sara_data.ssh.matches_client}}
{{{match}}}
   {{#settings}}
   {{{.}}}
   {{/settings}}

{{/vars.sara_data.ssh.matches_client}}
