                        Welcome to {{vars.scl.ssh.Banner_system}}

{{vars.scl.ssh.Banner_system_warning}}

   This is a private computer facility.   Access for any reason must be
   specifically authorized by the owner.  Unless you are so authorized,
   your continued  access and any other use may  expose you to criminal
   and/or civil proceedings.

   Information:          {{vars.scl.ssh.Banner_system_url}}

{{#classes.Maintenance}}
*******************************************************************************
*                                                                             *
*                       We are in maintenance.                                *
*                                                                             *
*       YOU CANNOT LOGIN AT THE MOMENT!    PLEASE TRY AGAIN LATER!            *
*                                                                             *
*******************************************************************************
{{/classes.Maintenance}}
