##
# Managed by CFengine, template generated
# SURFsara Bas van der Vlies

# What ports, IPs and protocols we listen for
Port {{{vars.sara_data.ssh.Port}}}

# Use these options to restrict which interfaces/protocols sshd will bind to
AddressFamily {{{vars.sara_data.ssh.AddressFamily}}}
Protocol {{{vars.sara_data.ssh.Protocol}}}

{{#vars.sara_data.ssh.ListenAddress}}
ListenAddress {{address}}
{{/vars.sara_data.ssh.ListenAddress}}

# HostKeys for protocol version 2
{{#vars.sara_data.ssh.HostKey}}
HostKey {{key}}
{{/vars.sara_data.ssh.HostKey}}

#Privilege Separation is turned on for security
UsePrivilegeSeparation {{{vars.sara_data.ssh.UsePrivilegeSeparation}}}

# For some hosts this is NOT allowed
AllowTcpForwarding {{{vars.sara_data.ssh.AllowTcpForwarding}}}

# Logging
SyslogFacility {{{vars.sara_data.ssh.SyslogFacility}}}
LogLevel {{{vars.sara_data.ssh.LogLevel}}}

# Authentication:
LoginGraceTime {{{vars.sara_data.ssh.LoginGraceTime}}}
PermitRootLogin {{{vars.sara_data.ssh.PermitRootLogin}}}
StrictModes {{{vars.sara_data.ssh.StrictModes}}}

PubkeyAuthentication {{{vars.sara_data.ssh.PubkeyAuthentication}}}
AuthorizedKeysFile {{{vars.sara_data.ssh.AuthorizedKeysFile}}}

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{{vars.sara_data.ssh.IgnoreRhosts}}}
# For this to work you will also need host keys in /etc/ssh_known_hosts
# similar for protocol version 2
HostbasedAuthentication {{{vars.sara_data.ssh.HostbasedAuthentication}}}
# if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
IgnoreUserKnownHosts {{{vars.sara_data.ssh.IgnoreUserKnownHosts}}}

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords {{{vars.sara_data.ssh.PermitEmptyPasswords}}}

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{{vars.sara_data.ssh.ChallengeResponseAuthentication}}}

# Change to no to disable tunnelled clear text passwords
PasswordAuthentication {{{vars.sara_data.ssh.PasswordAuthentication}}}

### Some environment settings
#
Banner {{{vars.sara_data.ssh.Banner}}}
MaxAuthTries {{{vars.sara_data.ssh.MaxAuthTries}}}
PrintLastLog {{{vars.sara_data.ssh.PrintLastLog}}}
PrintMotd {{{vars.sara_data.ssh.PrintMotd}}}
TCPKeepAlive {{{vars.sara_data.ssh.TCPKeepAlive}}}
X11Forwarding {{{vars.sara_data.ssh.X11Forwarding}}}
X11UseLocalhost {{{vars.sara_data.ssh.X11UseLocalhost}}}
X11DisplayOffset {{{vars.sara_data.ssh.X11DisplayOffset}}}
UsePAM {{{vars.sara_data.ssh.UsePAM}}}
UseDNS {{{vars.sara_data.ssh.UseDNS}}}
MaxSessions {{{vars.sara_data.ssh.MaxSessions}}}

{{#classes.SSH_USE_DEPRICATED_OPTIONS}}
KeyRegenerationInterval {{{vars.sara_data.ssh.KeyRegenerationInterval}}}
ServerKeyBits {{{vars.sara_data.ssh.ServerKeyBits}}}
RSAAuthentication {{{vars.sara_data.ssh.RSAAuthentication}}}
RhostsRSAAuthentication {{{vars.sara_data.ssh.RhostsRSAAuthentication}}}
UseLogin {{{vars.sara_data.ssh.UseLogin}}}
{{/classes.SSH_USE_DEPRICATED_OPTIONS}}

# Allow client to pass locale environment variables
AcceptEnv {{{vars.sara_data.ssh.AcceptEnv}}}
{{#vars.sara_data.ssh.Subsystem}}
Subsystem {{service}} {{path}}
{{/vars.sara_data.ssh.HostKey}}

{{#classes.SSH_PUBKEY_AUTHENTICATION}}
AuthorizedKeysCommand {{vars.sara_data.ssh.authorized_keys_command}}
    {{#classes.SLES}}
AuthorizedKeysCommandUser {{vars.sara_data.ssh.authorized_keys_commanduser}}
    {{/classes.SLES}}
    {{#classes.debian}}
AuthorizedKeysCommandUser {{vars.sara_data.ssh.authorized_keys_commanduser}}
    {{/classes.debian}}
    {{#classes.centos}}
AuthorizedKeysCommandRunAs {{vars.sara_data.ssh.authorized_keys_commanduser}}
    {{/classes.centos}}
{{/classes.SSH_PUBKEY_AUTHENTICATION}}

##@ Must be the last section
#
{{#vars.sara_data.ssh.matches}}
{{{match}}}
   {{#settings}}
   {{{.}}}
   {{/settings}}
{{/vars.sara_data.ssh.matches}}
