###
#
# This file is maintained by CFEngine
#

{{#vars.sara_data.chrony.server}}
server {{{.}}}
{{/vars.sara_data.chrony.server}}

{{#vars.sara_data.chrony.allow}}
allow {{{.}}}
{{/vars.sara_data.chrony.allow}}

{{#classes.SLES}}
# SUSE specific stuff
driftfile /var/lib/chrony/drift
keyfile /etc/chrony.keys
{{/classes.SLES}}

{{#classes.debian}}
# Debian specific stuff
driftfile /var/lib/chrony/chrony.drift
keyfile /etc/chrony/chrony.keys
{{/classes.debian}}

logdir /var/log/chrony
log tracking measurements statistics

{{#vars.sara_data.chrony.adjust_time}}
hwclockfile /etc/adjtime
{{/vars.sara_data.chrony.adjust_time}}

# In first three updates step the system clock instead of slew
# if the adjustment is larger than 1 second.
makestep 1.0 3

# This directive enables kernel synchronisation (every 11 minutes) of the
# real-time clock. Note that it can't be used along with the 'rtcfile' directive.
rtcsync

# Stop bad estimates upsetting machine clock.
maxupdateskew 100.0
