### Controlled by CFEngine3
#   template file: {{{vars.scl.template_file}}}
#   files: {{{vars.scl.json_files}}}
#
#
{{#vars.scl.tcpwrappers.deny_rules}}
# {{{desc}}}
{{{deny}}}
{{/vars.scl.tcpwrappers.deny_rules}}
