<VirtualHost {{{server_name}}}:443>

    ServerName {{{server_name}}}

    # configure SSL
    SSLEngine on
    SSLCertificateFile /etc/certificate/fullchain.pem
    SSLCertificateKeyFile /etc/certificate/private_key.pem

    ### Loop over the jupyterhub configs
    #
    {{#hubs}}
    <Location "/{{@}}">
        RewriteEngine On
        RewriteCond %{HTTP:Connection} Upgrade [NC]
        RewriteCond %{HTTP:Upgrade} websocket [NC]
        RewriteRule /{{@}}/(.*) {{config_default.url_ws}}{{.number}}/{{@}}/$1 [NE,P,L]
        RewriteRule /{{@}}/(.*) {{config_default.url_bind}}{{.number}}/{{@}}/$1 [NE,P,L]

        # preserve Host header to avoid cross-origin problems
        ProxyPreserveHost on
        # proxy to JupyterHub
        ProxyPass         {{config_default.url_bind}}{{.number}}/{{@}}
        ProxyPassReverse  {{config_default.url_bind}}{{.number}}/{{@}}

    </Location>
    {{/hubs}}
</VirtualHost>
